<!--The content below is only a placeholder and can be replaced.-->
<div>


<div class="col-md-12">
  <nav style="border:none;background:ghostwhite;" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Test Application</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>

      </ul>
    </div>
  </nav>
<form style="border: none;background-color:ghostwhite" class="panel panel-default">

  <div class="panel-body ">
    <h3>Add a Link</h3><br>
    <p><label for="title">Title</label>
      <input class="form-control" type="text" name="title" #newTitle>
    </p>
    <p>
      <label for="link">Link</label>
      <input class="form-control" type="text" name="link" #newLink>
    </p>
    <p>
      <input (click)="addArticle(newTitle,newLink)" class="btn btn-primary" type="button" value="Add Your Article" />
    </p>
  </div>
  <!-- <app-article></app-article> -->
   <!-- <app-article *ngFor="let article of articles" [article]="article"> -->
<app-article *ngFor="let article of sortedArticles()" [article]="article">
   </app-article>
</form>

</div>
